body {
    margin: 0px 0px;
    max-width: 100%;
    color: #1d3557;
    font-family: 'Nunito';
}

h1 {
    font-size: 60px;
    transition: ease-in-out 0.5s;
    text-align: center;
}

p {
    font-family: "Nunito";
    color: #32A287;
}

.header {
  width: 100%;
  padding: auto;
  text-align: center;
  background: #32A287;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  color: #ccffcc;
}

.menu {
   display: flex;
   justify-content: space-evenly;
   background-color: #32A287;
}

.log-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workout-log {
    height: 60%;
    font-weight: bold;
    font-size: 40px;
    background: white;
    margin-left: 0%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.wrapper {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 3%;
}

.workout-log2 {
    background: #A9FDAC;
    text-align: center;
    color: BLACK;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}

thead th {
  width: 40%;
}

thead td {
    width: 20%;
}

table {
    border: 2px solid;
    font-size: 20px;
    background-color: #A9FDAC;
    table-layout: auto;
    border-collapse: collapse;
    margin-bottom: 5%;
    margin-top: 5%;
}

input {
    width: 100%;
    border-radius: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #32A287;
    margin-bottom: 10%;
    font-family: "Nunito";
    font-size: 18px;
    width: 50%;
    color: #F1FFE7;
    border-radius: 8px;
}

.exercise-type-banner {
    width:45%;
    height:7%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    background-color:#1d3557;
    color:white;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button {
    width: 10%;
    height: 10%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito";
    font-size: 23px;
    font-weight: bold;
    color: F1FFE7;
    background-color: #32A287;
    border-radius: 5px;
}

.button-wrapper{
    display: inline-flex;
    font-size: 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.workout-text {
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}